/****************************
* Configuraciones Iniciales *
****************************/

/* Importamos las fuentes embebidas de Google que vamos a utilizar */
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* Definimos variables globales para el uso de colores personalizados y de las fuentes importadas */
:root {
	/* Variables de Color */
	--color-principal: #69247c;
	--color-secundario: #da498d;
	--color-resaltado: #ffc107;
	--color-atenuado: #fac67a;
	--color-fondo: #f9e6cf;
	/* Variables de Fuente */
	--playfair-display: "Playfair Display", serif;
	--cookie-regular: "Cookie", serif;
}

/*************************
* Estilos de Uso General *
*************************/

/* ¡BORRAR! */
* {
	/*border: black solid 1px;
	/*font-family: var(--playfair-display);*/
}

body {
	background-color: var(--color-fondo);
	color: var(--color-principal);
	font-family: var(--playfair-display);
	font-weight: bold;
	font-style: normal;	
}

/* Clases de uso general para las secciones principales y sus subsecciones */
.seccion {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1000px;
	margin: 20px auto;
	padding: 0 20px;
	text-align: center;
}

.subseccion {
	margin: 0 10px;
	width: 100%;
}

/* Clase para dar aspecto estilizado tanto al <nav> como al <footer> */
.cinta {
	background-color: var(--color-principal);
	color: var(--color-fondo);
	padding: 15px;
	margin: 5px;
	width: 100%;
}

/* Damos un estilo moderno a los enlaces de la clase .cinta*/
.cinta a {
	text-decoration: none;
	color: var(--color-fondo);
}

.cinta a:hover {
	color: var(--color-resaltado);
}

.cinta a:active {
	color: var(--color-secundario);
}

/* Estilos para el texto */
.texto-centrado {
	text-align: center;
}

/* Estilos botones */
.boton {
	background-color: var(--color-resaltado);
	color: var(--color-principal);
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.boton:hover {
	background-color: var(--color-atenuado);
}

/*************************
* Estilos Sección Header *
*************************/

/* Usamos flexbox en el <nav> para acomodar el logo y como la lista de enlaces */
nav {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
}

/* Le damos el mismo tamaño del contenido del <nav> al alto del logo, si bien flex los va a adaptar  */
#logo-nav {
	height: 40px;
}

/* Damos un estilo moderno a la lista de enlaces de navegación y usamos flex para distribuirlos */
.lista-nav {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 1.25rem;
	flex: 1; /* Para que ocupe el ancho restante del contenedor padre */
}

/* Título de la Marca */
#titulo-principal {
	font-family: var(--cookie-regular);
	font-weight: bold;
	font-style: normal;
	font-size: 3.5rem;
	margin: 20px auto 0;
}

/***********************
* Estilos Sección Main *
***********************/

.titulo-secundario {
	font-family: var(--cookie-regular);
	font-weight: bold;
	font-style: normal;
	font-size: 2.5rem;
	margin: 0 auto 10px;
}

.subseccion {

}

.subseccion:not(#seccion-inicio) {
	margin-top: 100px;
}

/* Contenedor de Tarjetas de Productos*/
.tarjetas-productos {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 1rem;
	gap: 1rem;
}

.tarjetas-resenas {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 1rem;
	gap: 1rem;
}

@media (max-width: 768px) {
    .tarjetas-productos {
		grid-template-columns: repeat(2, 1fr);
    }
	.tarjetas-resenas {
		grid-template-columns: repeat(1, 1fr);
	}
}


/* Clase para aplicar estilos comunes a las tarjetas */
.tarjeta-general {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	border-radius: 10px;
	padding: 1rem;
	color: var(--color-fondo);
}

/* Clase para estilo de tarjetas de productos */
.tarjeta-producto {
	background: linear-gradient(var(--color-atenuado), var(--color-resaltado), var(--color-secundario), var(--color-principal));
	flex-direction: column;
}

/* Clase para estilo de tarjetas de reseñas */
.tarjeta-resena {
	background: linear-gradient(90deg, var(--color-atenuado), var(--color-resaltado), var(--color-secundario), var(--color-principal));
	flex-direction: row;
}

/* Enlace de las Tarjetas  */
.tarjeta-general a {
	text-decoration: none;
	color: var(--color-fondo);
}

.tarjeta-general a:hover {
	color: var(--color-resaltado);
}

.tarjeta-general a:active {
	color: var(--color-secundario);
}


/*************************************************************
* Las siguientes dos clases son contenedores para limitar el *
* tamaño de las imágenes y "recortarlas" sin deformación     *
*************************************************************/

/* Clase contenedora de imágenes de productos */
.contenedor-img-producto {
    border-radius: 10px;
	margin: 0 auto;
	max-width: 300px;
    max-height: 200px;
    overflow: hidden; /* Esconde los excedentes de la imagen */
}

/* Clase contenedora de imágenes de reseñas */
.contenedor-img-resena {
	border-radius: 10px;
	margin: auto 0;
    max-width:  200px;
    max-height: 300px;
    overflow: hidden; /* Esconde los excedentes de la imagen */
}

/* Ajustamos las imágenes para que cubran todo el espacio disponible */
.contenedor-img-producto img,
.contenedor-img-resena img {
	width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen al espacio sin deformarla */
}

/* Estilos video */

/* Vamos a dar al video un estilo similar al de las imágenes de las reseñas */
.contenedor-video{
	margin: auto 0;
    max-width:  200px;
    max-height: 300px;
    overflow: hidden;
}

/* Ajustamos el video para que cubran todo el espacio disponible */
#video-inicio {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
